* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.article {
  background-color: #fff;
  max-width: 65rem;
  margin: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .article {
    flex-direction: row;
    border-radius: 1rem;
  }
}
.article__image-wrapper {
  width: 100%;
}
.article__image {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 25rem;
}
@media screen and (min-width: 768px) {
  .article__image {
    height: 100%;
    border-radius: 1rem 0 0 1rem;
  }
}
.article__title {
  font-size: 1.6rem;
  margin-top: 1rem;
  padding: 0 3rem;
}
.article__description {
  margin-top: 1rem;
  line-height: 1.5;
  color: hsl(212, 23%, 69%);
  font-weight: 500;
  padding: 0 3rem;
}
.article__profile {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 1rem 1rem;
  padding: 2rem 3rem;
}
.article__profile--active {
  background-color: hsl(217, 19%, 35%);
}
.article__profile-wrapper {
  display: flex;
  order: 1;
}
.article__profile-wrapper--active {
  display: none;
}
.article__profile-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.article__profile-info {
  margin-left: 1.5rem;
}
.article__profile-name {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.article__profile-date {
  margin-top: 0.25rem;
  color: hsl(212, 23%, 69%);
}
.article__profile-share-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  order: 2;
}
.article__profile-share-btn--active {
  background-color: hsl(212, 23%, 69%);
}
.article__profile-share-btn-img {
  fill: #fff;
}
.article__profile-popup {
  display: none;
  gap: 1rem;
  border-radius: 0 0 1rem 1rem;
  width: 100%;
  order: 1;
}
.article__profile-popup--active {
  display: flex;
}
.article__profile-popup-text {
  color: hsl(210, 46%, 95%);
  letter-spacing: 4px;
}
.article__profile-popup-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .article__content {
    padding: 2rem 0;
  }
  .article__title {
    padding: 0 4rem;
  }
  .article__description {
    padding: 0 4rem;
  }
  .article__profile {
    padding: 1.5rem 4rem 0;
    margin-top: 0;
    position: relative;
  }
  .article__profile--active {
    background-color: #fff;
  }
  .article__profile-wrapper--active {
    display: flex;
  }
  .article__profile-popup {
    position: absolute;
    bottom: 80%;
    right: -5.5rem;
    width: auto;
    background-color: hsl(217, 19%, 35%);
    padding: 1.5rem 3rem;
    border-radius: 1rem;
    order: unset;
    display: none;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  .article__profile-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1rem solid transparent;
    border-top-color: hsl(217, 19%, 35%);
  }
  .article__profile-popup--active {
    display: flex;
  }
}

/*# sourceMappingURL=main.css.map */
